.main-container {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: left;
    height: 100vh;
}

.main-item {
    padding: 100px;
    max-width: 50%;
}

.main-button {
    background-color: #b1a345;
    border: none;
    border-radius: 50%;
    color: white;
    padding: 15px 32px;
    font-size: 25px;
    margin: 10px;
    cursor: pointer;
}

.main-text {
    color: white;
    padding: 10px;
    font-size: 50px;
    text-align: center;
}

.main-subtext {
    font-size: 30px;
    text-align: center;
}

.main-call {
    color: white;
    font-size: 50px;
    text-align: left;

}
.main-item img {
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 1);
    margin: 2vh;
    width: 25vw;
    height: 25vh;
}

