.menu-text {
    font-size: 20px;
    color: black;
}

.menu-item-grid {
    display: flex;
    align-items: center;
    flex-direction:column;
    height: 50vh;
    width: 30vw;
}

.menu-item-grid img {
    width: 100%;
    height: 100%;
}



